html,
body {
    min-height: 100vh;
}

body {
    font-family: $f-lato;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    color: $dark-900;
    background-color: $white;
    display: flex;
    flex-direction: column;
    position: relative;

    &.overlay {  
        overflow: hidden;

        .wrapper {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            min-height: 100vh;
            z-index: 99998;
            background-color: rgba($black, 0.15);
        }
    }

    &.overlay-mob { 

        overflow: hidden;

        .wrapper {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            min-height: 100vh;
            z-index: 99998;
            background-color: rgba($black, 0.15);
        }
    }
}


main {
    margin-bottom: auto;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo {

    &__img  {
        object-fit: cover;
    }
}

.title {
    font-family: $f-open-sans;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    color: $dark-900;

    @include r($md) {
        font-size: 28px;
        font-weight: 600;
    }

    @include r($sm) {
        font-size: 24px;
    }
}

.section {
    padding: 72px 0;

    @include r($lg) {
        padding: 60px 0;
    }

    @include r($md) {
        padding: 50px 0;
    }

    @include r($sm) {
        padding: 46px 0;
    }
}


