html,
body {
    height: 100%;
}

body {
    @extend %Lato-Semibold;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5 ;
    color: $dark-900;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo--header {
    margin-right: 25px;
}

.title {
   @extend %Lato-Semibold;
   font-size: 32px;
   letter-spacing: 0.03rem;
   text-transform: uppercase;
}

.badges-new,
.badges-sale,
.badges-hit {
    @extend %Lato-Bold;
    background-color: $green-900;
    letter-spacing: 0.05rem;
    width: 65px;
    color: $white;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1;
    padding: 3px 6px;
    border-radius: 6px;
}

.badges-sale {
    width: 37px;
    background-color: $red;
}
.badges-hit {
    width: 35px;
    background-color: $orange;
}

.btn-search {
    height: 50px;
    width: 157px;
    background-color: $dark-800;
    @extend %Lato-Semibold;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    border:transparent;
    border-radius: 0 6px 6px 0;

    &:hover {
        background-color: rgb($dark-800, 85%);
    }

    &:active {
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: $silver-600;
    }

    &:focus {
        outline-width: 4px;
        outline-color: $focus-green-300;
    }
}

.btn-search--header {
    margin-right: 45px;
}

.btn-subscribe {
    width: 120px;
    height: 40px;
    border: transparent;
    border-radius: 0 6px 6px 0;
    background-color: $green-900;
}

.btn-buy {
    padding: 12px 24px;
    background-color: $green-900;
    border-radius: 6px;
    color: $white;
    @extend %Lato-Regular;
    font-size: 18px;
    letter-spacing: 0.05rem;
    border: 4px solid transparent;
    outline: transparent;
    transition: background-color 0.3s linear, color 0.2s linear;

    &:hover {
        background-color: #4D810C;
    }

    &:active {
        color: rgb($white, 50%);
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &:focus {
        border-color: $focus-green-300;
    }
}

.btn-buy-sm {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green-900;
    border-radius: 6px;
    border: 4px solid transparent;
    outline: transparent;
    transition: background-color 0.3s linear, fill 0.2s linear;

    &__icon {
        fill: $white;
    }

    &:hover {
        background-color: #4D810C;
    }

    &:active {
        fill: rgb($white, 50%);
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &:focus {
        border-color: $focus-green-300;
    }
}

.btn-showmore {
    background-color: transparent;
    padding: 12px 24px;
    color: $green-900; 
    @extend %Lato-Regular;
    font-size: 18px;
    line-height: 1.3;
    border-radius: 6px;
    border: 1px solid #B1D286;
    outline: transparent;
    transition: background-color 0.3s linear, fill 0.2s linear, border-color 0.3s linear;

    &__icon {
        fill: $white;
    }

    &:hover {
        background-color: $green-100;
        border-color:$green-900 ;
    }

    &:active {
        fill: rgb($green-900, 50%);
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &:focus {
        border-color: $focus-green-300;
    }
}
