html,
body {
    height: 100%;
}

body {
    font-family: $f-lato;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    color: $dark-900;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.logo {
    
    &__img  {
        object-fit: cover;
    }
}

.title {
    font-family: $f-signika;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
}


// btn 

.btn {
    background-color: $white;
    padding: 12px 24px;
    font-family: $f-lato;
    font-weight: 400;
    color: $green-900; 
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03rem;
    border-radius: 6px;
    outline-width: 4px;
    transition: background-color 0.3s linear, fill 0.2s linear, border-color 0.3s linear, color 0.2s linear;
    
    &--showmore {

        border: 1px solid #B1D286;
        &:hover {
            background-color: $green-100;
            border-color:$green-900 ;
        }
    
        &:active {
            color: rgb($green-900, 50%);
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    &--catalog {
        font-weight: 600;
        font-size: 14px;
        color: $green-900;
        border-radius: 6px;
        padding: 15px 45px 15px 60px;
        margin-right: 30px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 20px;
            bottom: 15px;
            width: 27px;
            height: 17px;
            background-image: url(../images/icons/nav.svg);
            background-repeat: no-repeat;
        }

        &::after {
            content: "";
            position: absolute;
            right: 20px;
            bottom: 22px;
            width: 8px;
            height: 4px;
            background-image: url(../images/icons/chevron-nav.svg);

        }

        &:hover {
            background-color: $green-100;
        }
    
        &:active {
            color: rgb($green-900, 50%);
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    &--search {
        background-color: $dark-800;
        color: $white;
        font-weight: 600;
        font-size: 14px;
        padding: 16px 52px;
        text-transform: uppercase;
        border-radius: 0 6px 6px 0;

        &:hover {
            background-color: rgb($dark-800, 85%);
        }
    
        &:active {
            background-color: $dark-800;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            color: $silver-600;
        }
    
        &:focus {
            outline-width: 4px;
            outline-color: $focus-green-300;
        }
    }

    &--subscribe {
        font-size: 12px;
        font-weight: 700;
        color: $white;
        border-radius: 0 6px 6px 0;
        background-color: $green-900;
        padding: 12px 10px 12px 14px;
        transition: background-color 0.3s linear, color 0.2s linear;

        &:hover {
            background-color: #4D810C;
        }

        &:active {
            color: rgb($white, 50%);
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        &:focus {
        }
    }

    &--buy {
        background-color: $green-900;
        border-radius: 6px;
        color: $white;
        font-size: 18px;
        letter-spacing: 0.05rem;
        border-color
        &:hover {
            background-color: #4D810C;
        }
    
        &:active {
            color: rgb($white, 50%);
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    
        &:focus {

        }
    }

    &--buy-sm {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-radius: 6px;
        &:hover { 
            background-color: #4D810C;
        }

        &:active {
            fill: rgb($white, 50%);
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        &:focus {
            border-color: $focus-green-300;
        }
        
    }
    
    &__icon {
        fill: $red;
    }
}

.btn-buy-sm__icon {
    fill: red;
}
// ========================
// filter
.products-filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    &__item {
        &:not(:last-child) {
            margin-right: 25px;
        }
    }

    &__button {
        font-size: 15px;
        color: $content;
        text-transform: uppercase;
        background-color: transparent; 
        border: none;
        border-bottom: 3px solid transparent;
        padding: 0;

        
        &:hover {
            border-bottom: 3px solid rgb($green-900, 20%);
        }
    }
}

// product-card
.product-card {
    background-color: $white;
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 6px;
    width: 300px;
    height: 410px;
    transition: border-color 0.3s linear;

    &:hover {
        border-color: $green-900;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 12px 7px;
    }

    &__badges {
        :first-child {
            margin-bottom: 5px;
        }
    }

    &__favorit {
        fill: $silver-600;
        transition: fill 0.2s linear;

        &:hover {
            fill: $yellow;
        }
    }

    &__body {
        padding: 0 12px;
    }

    &__img {
        width: 100%;
        height: 215px;
        object-fit: contain;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        padding: 18px;
    }

    &__subtitle {
        line-height: 1.4;
        height: 65px;
        h3 {
            font-size: 14px;
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__price {
        color: $content;
        line-height: 1.2;
        span {
            display: block;
            position: relative;
        }

        span:first-child {
            color: $silver-600;

            &::after {
                content: "";
                position: absolute;
                bottom: 10px;
                left: 0;
                right: 0;
                height: 1px;
                background-color: $silver-600;
                transform: rotate(346deg);
            }
        }
    }
}

// badges
.badge {
    font-family: $f-lato;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.03rem;
    color: $white;
    line-height: 1;
    text-transform: uppercase;
    background-color: $green-900;
    padding: 3px 6px;
    border-radius: 6px;

    &--sale {
        background-color: $red;
    }

    &--hit {
        background-color: $orange;
    }
}

