.body {
    @extend %Lato-Semibold;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5 ;
    color: $dark-900;
    background-color: #E5E5E5;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo--header {
    margin-right: 25px;
}

.btn-search {
    height: 50px;
    width: 157px;
    background-color: $dark-800;
    @extend %Lato-Semibold;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    border:transparent;
    border-radius: 0 6px 6px 0;

    &:hover {
        background-color: rgb($dark-800, 85%);
    }

    &:active {
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: $silver-600;
    }

    &:focus {
        outline-width: 4px;
        outline-color: $outline-green;
    }
}

.btn-search--header {
    margin-right: 45px;
}

.btn-subscribe {
    width: 120px;
    height: 40px;
    border: transparent;
    border-radius: 0 6px 6px 0;
    background-color: $green-900;
}