@import './index-page/slider-discont';
@import './index-page/top-product';
@import './index-page/advantages';
@import './index-page/promo';
@import './index-page/brands';
@import './index-page/banners';
@import './index-page/ournews';