$green-900: #63A60F;
$green-200: #E0EDCF;
$green-100: #EFF6E7;
$dark-900: #121212;
$dark-800: #31352B;
$dark-500: #505050;
$red: #CF3E3B;
$orange: #FF7A00;
$yellow: #FFB800;
$white: #ffffff;
$silver-600: #C1C1C1;
$silver-100: #F6F6F6; 
$focus-green-300: #D8E8C2;
$content: #505050;

$f-lato: "Lato", sans-serif;
$f-signika: "Signika", sans-serif;