$green-900: #63A60F;
$green-200: #E0EDCF;
$green-100: #EFF6E7;
$dark-900: #121212;
$dark-800: #31352B;
$dark-500: #505050;
$red: #CF3E3B;
$orange: #FF7A00;
$yellow: #FFB800;
$white: #ffffff;
$silver-600: #C1C1C1;
$silver-100: #F6F6F6; 
$focus-green-300: #D8E8C2;
$content: #505050;

$f-lato: "Lato", sans-serif;
$f-signika: "Signika", sans-serif;



@mixin hidden($lines: 2) { 
    -webkit-line-clamp: $lines;
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; 
}

@mixin maxw($max-width: 150px) { 
    max-width: $max-width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

$xxl: 1600;
$xl: 1200;
$lg: 992;
$md: 768;
$sm: 576;

@mixin r($width) {
    @media only screen and (max-width: $width + "px") {
        @content
    }
}