$green-900: #63A60F;
$green-200: #E0EDCF;
$green-100: #EFF6E7;
$dark-900: #121212;
$dark-800: #31352B;
$dark-500: #505050;
$red: #CF3E3B;
$orange: #FF7A00;
$yellow: #FFB800;
$white: #ffffff;
$silver-600: #C1C1C1;
$silver-100: #F6F6F6; 
$outline-green: #D8E8C2;


%Lato-Light {
    font-family: "Lato-Light", sans-serif;
    font-weight: 300;
    font-style: normal;
}

%Lato-Regular {
    font-family: "Lato-Regular", sans-serif;
    font-weight: 400;
    font-style: normal;
}

%Lato-Semibold {
    font-family: "Lato-Semibold", sans-serif;
    font-weight: 600;
    font-style: normal;
}

%Lato-Bold {
    font-family: "Lato-Bold", sans-serif;
    font-weight: 700;
    font-style: normal;
}

%Signika-Light {
    font-family: "Signika-Light", sans-serif;
    font-weight: 300;
    font-style: normal;
}

%Signika-Regular {
    font-family: "Signika-Regular", sans-serif;
    font-weight: 400;
    font-style: normal;
}

%Signika-SemiBold {
    font-family: "Signika-SemiBold", sans-serif;
    font-weight: 600;
    font-style: normal;
}

%Signika-Bold {
    font-family: "Signika-Bold", sans-serif;
    font-weight: 700;
    font-style: normal;
}