@import 'vars';
@import 'fonts';
@import 'libs';
@import 'reset';
@import 'global';

.header {
    letter-spacing: 0.03rem;

    &__top {
        background-color: $dark-800;
        padding: 15px 0;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__item:not(:last-child) {
        margin-right: 40px ;
    }

    &__item-info:not(:last-child) {
        margin-right: 25px;
    }


    &__icon {
        width: 32px;
        height: 22px;
        margin-right: 10px;
        fill: $white;
        transition: fill 0.2s linear;
    }

    &__link {
        display: flex;
        line-height: 1.5;
        color: $white;
        font-size: 13px;
        text-transform: uppercase;
        transition: color 0.2s linear; 

        &:hover {
            color: $silver-600;
        }

        &:hover .header__icon {
            fill: $silver-600; 
        }

    }

    &__bottom {
        background-color: $green-900;
        padding: 20px 0;
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 22px;
    }

    

    &__search {
        display: flex;
        align-items: center;
        background-color: $white;
        max-width: 420px;
        width: 100%;
        height: 50px;
        border-radius: 6px 0 0 6px;
        padding: 0 12px;
    }

    &__icon-search {
        margin-right: 18px;
    }

    &__input {
        border: transparent;
        width: 100%;
        padding: 10px 0;

        &::placeholder {
            font-size: 14px;
            color: $dark-800;
        }
    }

    &__user {
        display: flex
    }

    &__icon {
        fill: $white;
    }

    &__user-item {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 3px;
        transition: background-color 0.2s linear;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    &__user-item:not(:last-child) {
        margin-right: 15px;
    }

    &__num {
        position: absolute;
        top: 0;
        left: 4px;
        width: 18px;
        height: 18px;
        background-color: $white; 
        border-radius: 50%;
        font-size: 10px;
        line-height: 1.9;
        color: $red;
        text-align: center;
    }
}

.slider-discont {


    &__item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
    }

    &__inner {
        display: flex;
        height: 56vh;
        align-items: center;
    }

    &__content {
        max-width: 900px;
        background-color: rgb($white, 80%);
        border-radius: 6px;
        padding: 20px 25px;
        color: $content;
        margin-bottom: 50px; 
        line-height: 1.3; 
        position: relative; 
    }


    &__text {
        font-family: $f-signika;
        font-weight: 700;
        color: $content;
        font-size: 60px; 
        text-transform: uppercase;
        text-shadow: 0px 4px 0px $content;

        &--red {
            color: $red; 
            text-shadow: 0px 4px 0px $red; 
        }
    }

    &__subtext {
        font-family: $f-lato;
        font-weight: 400;
        font-size: 16px;
    }

    .slick-prev,
    .slick-next {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: rgb($white, 80%);
        width: 60px;
        height: 60px;
        border-radius: 6px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        z-index: 1;
        transform: translateY(-50%);
    }

    .slick-prev {
        left: 60px;
    }

    .slick-next {
        right: 60px;
    }
}

.advantages {
    background-color: #F6F6F6;;
    padding: 45px 0;

    &__list {
        display: flex;
        justify-content: center;
    }

    &__item {
        display: flex;
        max-width: 275px;
        margin: 0 25px;
    }

    &__icon {
        fill: $green-900;
        margin-right: 25px;
    }

    &__content {
        max-width: 200px;
    }

    &__title {
        display: block;
    }
}

.top-product {
    background-color: #ffffff;;
    padding: 70px 0;
    text-align: center;

    &__title {
        text-align: center;
        margin-bottom: 30px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        margin-bottom: 50px;
    }
}

.footer {
    background-color: $dark-800;
    color: $white;
    padding-top: 26px;

    &__logo {
        display: block;
        margin-bottom: 26px;
    }

    &__content {
        display: flex;
        padding-bottom: 30px;
        justify-content: space-between;
        position: relative;
    }

    &__title {
        display: block;
        font-size: 14px;
        margin-bottom: 15px;
    }

    &__form {
        display: flex;
    }

    &__input {
        max-width: 182px;
        width: 100%;
        height: 40px;
        border: transparent;
        border-radius: 6px 0 0 6px;
        padding: 12px;

        &::placeholder {
            font-size: 14px; 
            color: $dark-800; 
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        font-size: 14px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: 33.333%;
    }

    &__link {
        font-weight: 400;
        transition: color 0.2s linear;
        &:hover {
            color: $silver-600;
        }
    }

    &__info {
        font-style: normal;
        margin-bottom: 18px;
        font-weight: 400;

        span {
            margin-right: 12px;
        }

        p:not(:last-child) {
            margin-bottom: 18px;
        }
    }

    &__social-list {
        display: flex;
        padding-left: 15px;
    }

    &__social-item {

        &:not(:last-child) {
            margin-right: 12px;
        }
        
    }

    &__icon {
        fill: $white;
        transition: fill 0.3s linear;

        &:hover {
            fill: $silver-600; 
        }
    }

    &__bottom {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding: 17px 0;
    }

    &__bottom-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__copy {
        text-transform: uppercase; 
    }

    &__accept {
        display: flex;
    }

    &__accept-item {
        &:first-child {
            margin-right: 15px;
        }
    }

    &__accept-icon {
        fill: $white;
        transition: fill 0.2s linear;
        &:hover {
            fill: $silver-600;
        }
    }
}
