@import 'vars';
@import 'fonts';
@import 'libs';
@import 'reset';
@import 'global';

@import 'components/header';
@import 'components/btn';
@import 'components/footer';
@import 'components/filter';
@import 'components/badges';
@import 'components/basket';
@import 'components/menu-mob';
@import 'components/product-card';
@import 'components/advantages';

@import 'index-page';

