@import 'vars';
@import 'fonts';
@import 'libs';
@import 'reset';
@import 'global';

.header {
    letter-spacing: 0.05rem;
    &__top {
        background-color: $dark-800;
        padding: 15px 0;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__item:not(:last-child) {
        margin-right: 25px ;
    }

    &__link--left {
        margin-right: 10px;
    }


    &__icon {
        width: 32px;
        height: 22px;
        margin-right: 12px;
        fill: $white;
        transition: fill 0.2s linear;
    }

    &__link {
        display: flex;
        line-height: 1.5;
        color: $white;
        @extend %Lato-Bold;
        font-size: 13px;
        text-transform: uppercase;
        transition: color 0.2s linear; 

        &:hover {
            color: $silver-600;
        }

        &:hover .header__icon {
            fill: $silver-600; 
        }

    }

    &__bottom {
        background-color: $green-900;
        padding: 20px 0;
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__catalog {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @extend %Lato-Semibold;
        font-size: 14px;
        letter-spacing: 0.03rem;
        color: $green-900;
        width: 240px;
        height: 50px;
        border: none;
        border-radius: 6px;
        padding: 16px 24px 17px 18px;
        margin-right: 30px;
        transition: background-color 0.2s linear, color 0.2s linear ;
        &:hover {
            background-color: $green-100;
        }
    
        &:active {
            color: rgb($green-900, 50%);
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    &__search {
        display: flex;
        align-items: center;
        background-color: $white;
        max-width: 420px;
        width: 100%;
        height: 50px;
        border-radius: 6px 0 0 6px;
        padding: 0 12px;
    }

    &__icon-search {
        margin-right: 18px;
    }

    &__search-item {
        border: transparent;
        width: 100%;
        padding: 10px 0;

        &::placeholder {
            @extend %Lato-Regular;
            font-size: 14px;
            color: $dark-800;
        }
    }

    &__user {
        display: flex
    }

    &__user-icon {
        fill: $white;
    }

    &__user-item {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 3px;
        transition: background-color 0.2s linear;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    &__user-item:not(:last-child) {
        margin-right: 15px;
    }

    &__user-num {
        position: absolute;
        top: 0;
        left: 4px;
        width: 18px;
        height: 18px;
        background-color: $white; 
        border-radius: 50%;
        @extend %Lato-Semibold;
        font-size: 10px;
        line-height: 1.9;
        color: $red;
        text-align: center;
    }
}


.slider {

    &__item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
    }

    &__inner {
        display: flex;
        height: 56vh;
        align-items: center;
        width: 100vw
    }

    &__content {
        max-width: 900px;
        background-color: rgb($white, 80%);
        border-radius: 6px;
        padding: 20px 25px;
        color: $content;
        margin-bottom: 50px; 
        @extend %Signika-Bold;
        line-height: 1.3; 
        font-size: 60px;
        position: relative; 
        width: 100vw;  
        h2 {
            font-size: 60px; 
            text-transform: uppercase;
        }

        span {
            color: $red;
            text-transform: uppercase;
        }

        p {
            font-size: 16px;
        }
    }

    .slick-prev,
    .slick-next {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: rgb($white, 80%);
        width: 60px;
        height: 60px;
        border-radius: 6px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        z-index: 1;
        transform: translateY(-50%);
    }

    .slick-prev {
        left: 60px;
    }

    .slick-next {
        right: 60px;
    }
}

.advantages {
    background-color: #E5E5E5;
    padding: 45px 0;

    &__list {
        display: flex;
        justify-content: center;
    }

    &__item {
        display: flex;
        max-width: 275px;
        margin: 0 25px;
    }

    &__icon {
        fill: $green-900;
        margin-right: 25px;
    }

    &__content {
        max-width: 200px;
        h2 {
            @extend %Lato-Bold;
            font-size: 16px;
        }

        P {
            @extend %Lato-Regular;

        }
    }
}

.product {
    background-color: #f6f6f6;;
    padding: 70px 0;

    &__title {
        text-align: center;
        margin-bottom: 30px;
    }

    &__filter {
        text-align: center;
        margin-bottom: 50px;
    }

    &__button {
        @extend %Lato-Bold;
        font-size: 15px;
        color: $content;
        text-transform: uppercase;
        background-color: transparent; 
        border: none;
        border-bottom: 3px solid transparent;
        padding: 0;

        &:not(:last-child) {
            margin-right: 25px;
        }
        &:hover {
            border-bottom: 3px solid rgb($green-900, 20%);
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        margin-bottom: 50px;
    }

    &__card {
        background-color: $white;
        border: 1px solid rgba(17, 17, 17, 0.2);
        border-radius: 6px;
        width: 300px;
        height: 410px;
    }

    &__card-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 12px 7px;
    }

    &__badges {
       :first-child {
           margin-bottom: 5px;
       }
    }

    &__favorit {
        fill: $silver-600;
    }

    &__card-body {
        background-repeat: no-repeat;
        background-position: center;

        width: 100%;
        height: 215px;
        object-fit: contain;
    }

    &__card-bottom {
        display: flex;
        flex-direction: column;
        padding: 18px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__subtitle {
        @extend %Lato-Semibold;
        line-height: 1.4;
        height: 65px;
        h3 {
            font-size: 14px;
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__price {
        @extend %Lato-Regular;
        color: $content;
        line-height: 1.2;
        span {
            display: block;
            position: relative;
        }

        span:first-child {
            color: $silver-600;

            &::after {
                content: "";
                position: absolute;
                bottom: 10px;
                left: 0;
                right: 0;
                height: 1px;
                background-color: $silver-600;
                transform: rotate(346deg);
            }
        }

    }

    &__btn {
        text-align: center;
    }
}

.footer {
    background-color: $dark-800;
    color: $white;
    &__top {
        padding: 26px 0;
    }

    &__content {
        display: flex;
        padding-bottom: 30px;
        justify-content: space-between;
        position: relative;
    }

    &__title {
        font-size: 14px;
        @extend %Lato-Regular;
        margin-bottom: 15px;
    }

    &__form {
        display: flex;
    }

    &__input {
        max-width: 182px;
        width: 100%;
        height: 40px;
        border: transparent;
        border-radius: 6px 0 0 6px;
        padding: 12px;

        &::placeholder {
            @extend %Lato-Regular;
            font-size: 14px; 
            color: $dark-800; 
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        @extend %Lato-Regular;
        font-size: 14px;
    }

    &__list {

        &:not(:last-child) {
            margin-right: 85px;
        }
    }

    &__item {

        &:not(:last-child) {
            margin-bottom: 18px;
        }
    }

    &__link {
    }

    &__contact {
        
    }

    &__address {
        font-style: normal;
        margin-bottom: 18px;
        font-weight: 400;

        span {
            margin-right: 12px;
        }

        p:not(:last-child) {
            margin-bottom: 18px;
        }
    }

    &__social-list {
        display: flex;
        padding-left: 15px;
    }

    &__social-item {

        &:not(:last-child) {
            margin-right: 12px;
        }
        
    }


    &__social-icon {
        fill: $white;
        transition: fill 0.3s linear;

        &:hover {
            fill: $silver-600; 
        }
    }

    &__bottom {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding: 17px 0;
    }

    &__bottom-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__copy {
        span {
            text-transform: uppercase;
        }
        
    }

    
    &__accept-icon {
        fill: $white;
        
        &:hover {
            fill: $silver-600;
        }
    }
}


@import 'media';