@import 'vars';
@import 'fonts';
@import 'libs';
@import 'reset';
@import 'global';

@import 'components/header';
@import 'components/btn';
@import 'components/footer';
@import 'components/filter';
@import 'components/badges';
@import 'components/cards';
@import 'components/news';
@import 'components/basket';

@import 'index-page';






