.catalog {
    background-color: $white;
    padding: 42px 0 45px;

    @include r($md) {
        padding: 30px 0 24px;
    }

    &__title {
        font-size: 42px;
        font-weight: 700;
        padding-bottom: 40px;
        letter-spacing: 0.2rem;
        background-color: $white;

        @include r($md) {
            font-size: 30px;
            padding-bottom: 30px;
        }
    }

    &__inner {
        display: flex;
    }  
}

