.catalog {
    &__main {
        flex: 1 1 auto
    }

    &__filter {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 48px;

        @include r($lg) {
            justify-content: flex-start;
        }

        @include r($md) {
            margin-bottom: 30px;   
        }
    }

    .jq-selectbox.dropdown.opened .jq-selectbox__select {
        border: 1px solid $content;
    }

    .jq-selectbox.dropdown.opened .jq-selectbox__trigger {
        transition: transform 0.3s linear;
        transform: rotate(0);
    }
    

    &__select {
        margin-right: 15px;

        @include r($lg) {
                margin-right: 0;
        }

        &:not(:last-child){
            margin-right: 15px;

            @include r($md) {
                margin-right: 10px;
            }
        }

        .jq-selectbox__select {
            background: transparent;
            box-shadow: none;
            border: 1px solid $silver-600;
            border-radius: 3px 3px 0px 0px;
            padding: 15px 45px 15px 15px;
            line-height: 1;
            height: auto;
            color: $content;
            width: 180px;
            font-family: $f-lato;
            font-weight: 400;
            text-shadow: none;
            cursor: pointer;
            border-color: $silver-600;
            transition: border-color 0.2s linear;

            @include r($md) {
                width: 130px;
                font-size: 12px; 
                padding: 15px 15px 15px 9px;  
            }

            &:hover {
                border-color: $content;
            }

            &--active {
               border-color: $content; 
            }

        }

        .jq-selectbox.dropdown.opened {     
            .jq-selectbox__trigger {
                transition: transform 0.3s linear;
                transform: rotate(0);
            }
        }

        .jq-selectbox__trigger {
            position: absolute;
            border-left: none;
            top: 19px;
            right: 15px;
            height: 6px;
            width: 11px;
            background-image: url('../../images/content/icons/filter-arrow.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            transform: rotate(180deg);

            @include r($md) {
                right: 7px;
                top: 18px;
            }
        }

        .jq-selectbox__trigger-arrow,
        .jq-selectbox.focused .jq-selectbox__select {
            border: none;
        }

        .jq-selectbox__dropdown {
            border: 1px solid $silver-600;
            border-top: none;
            padding: 15px 12px;
            width: 100%;
            background-color: $white;
            color: $content;
            border-radius: 0 0 6px 6px;

            li {
                cursor: pointer;
                &:not(:last-child) {
                    margin-bottom: 15px;

                    @include r($md) {
                        margin-bottom: 10px;
                    }   
                }
            }

            @include r($md) {
                padding: 12px 9px;
                font-size: 12px;
            }
        }

        &--sort {
            .jq-selectbox__select {
                width: 100px;

                @include r($md) {
                    width: 70px;
                }
            }
        }
    }

    &__main-btn {
        background-color: $silver-100;
        width: 47px;
        height: 47px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: transparent;

        @include r($xl) {
            display: none;
        }

        &:not(:last-child) {
            margin-right: 15px;

            @include r($md) {
                margin-right: 10px;
            }
        }

        &:focus {
            box-shadow: 0px 0px 0px 4px $green-400;
        }  

        &--filter {
            display: none;

            @include r($lg) {
                display: block;
            }
        }

        &.catalog__main-btn--active {
            .catalog__btn-icon {
                fill: $green-900;
            }
        }   
    }
    
    &__btn-icon {
        fill: $silver-600;
        transition: fill 0.3s linear;
    }

    &__filter-icon {
        fill: $green-900;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 48px;

        @include r($xl) {
            justify-content: center;
        }

        @include r($lg) {
            justify-content: space-between;
        }

        @include r($md) {
            justify-content: center;
            margin-bottom: 24px;
        }

        &.catalog__content--list {

           .catalog__content-item {
                height: 100%;
                max-width: 470px;
                width: 48%;
                &:not(:nth-child(3n+3)){
                    margin-right: 0px;
                }
                &:not(:nth-last-child(-n+3)) {
                    margin-bottom: 0px;
                }

                &:nth-child(odd) {
                    margin-right: 30px;
                }
                &:not(:nth-last-child(-n+2)) {
                    margin-bottom: 30px;
                }
           } 
        }
    }
    
    &__content-item {
         
        height: 410px;
        width: calc(100% / 3 - 20px);

        @include r($xl) {
            width: calc(100% / 2 - 50px );
        }

        @include r($lg) {
            width: calc(100% / 3 - 10px);
        }

        @include r($md) {
            width: calc(100% / 2 - 20px );
        }

        @include r($sm) {
            height: auto;
            width: calc(100% / 2 - 5px );
        }

        &:not(:nth-child(3n+3)) {
            margin-right: 30px;

            @include r($xl) {
                margin-right: 0;
            }  
        }

        &:nth-child(odd) {
            @include r($xl) {
                margin-right: 10px;
            }

            @include r($lg) {
                margin-right: 0;
            }

            @include r($md) {
                margin-right: 10px;
            }
        }

        &:not(:nth-last-child(-n+3)) {
            margin-bottom: 30px;

            @include r($xl) {
                margin-bottom: 10px; 
            }
        }

        &:not(:nth-last-child(-n+2)) {
            @include r($sm) {
                margin-bottom: 10px;
            }
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;

        @include r($sm) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__btn-green {
        margin-bottom: 24px;
    }
}