.advantages {
    background-color: $silver-100;
    padding: 50px 0;

    @include r($md) {
        padding: 33px 0;
    }

    &__list {
        display: flex;
        justify-content: center;

        @include r($lg) {
            flex-wrap: wrap;
        }
        
        @include r($sm) {
            justify-content: flex-start;
        }
    }

    &__item {
        position: relative;
        padding-left: 70px;
        max-width: 270px;
        width: 100%;
        
        &:not(:last-child) {
            margin-right: 53px;

            @include r($lg) {
                margin-bottom: 28px;
            }

            @include r($sm) {
                margin-right: 0;
            }
        }
        
        &::after {
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 50px;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &--scooter::after {
            background-image: url(../images/content/icons/scooter.svg);  
        }

        &--return::after {
            background-image: url(../images/content/icons/return-box.svg);
        }

        &--hours::after {
            background-image: url(../images/content/icons/hours24.svg);
        }
    }

    &__content {
        font-weight: 400;
        max-width: 320px;
        @include hidden(4);
    }

    &__title {
        font-weight: 700;
        font-size: 16px;
        display: block;
        margin-bottom: 5px;
        @include hidden;
    }
}