.badge {
    display: block;
    width: fit-content;
    max-width: 100px;
    font-family: $f-lato;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.03rem;
    color: $white;
    line-height: 1.1;
    text-transform: uppercase;
    background-color: $green-900;
    padding: 3px 6px;
    border-radius: 6px;

    &--sale {
        display: inline-block;
        background-color: $red;
        max-width: 50px;
    }

    &--hit {
        display: inline-block;
        background-color: $orange;
        max-width: 50px;
    }
}