.badge {
    display: block;
    width: fit-content;
    @include maxw(100px);
    font-family: $f-lato;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.03rem;
    color: $white;
    line-height: 1;
    text-transform: uppercase;
    background-color: $green-900;
    padding: 4px 6px 2px;
    border-radius: 6px;

    &--sale {
        background-color: $red;
    }

    &--hit {
        background-color: $orange;
    }

    &--gray {
        @include maxw(150px);
        background-color: $silver-100;
        color: $silver-600;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 400;
        padding: 5px 6px 3px;
        text-transform: none;
    }

    &--lg {
        font-size: 16px;
        padding: 7px 9px 5px;
    }
}
