.basket {
    position: fixed;
    right: -300%;
    top: 0;
    z-index: 99999;
    max-width: 470px;
    width: 100%;
    height: 100vh;
    background-color: $white;
    display: flex;
    flex-direction: column;
    transition: right 0.3s linear;
    
    &--show {
        
        right: 0;
    }

    &__top {
        padding: 19px 26px 12px 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $silver-600;

        @include r($sm) {
            padding: 17px 26px 12px 24px;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 12px;
        color: $black;
        
        @include r($sm) {
            font-size: 18px;
        }
    }

    &__clean {
        font-weight: 400;
        font-size: 14px;
        color: $black;
        background-color: transparent;
        transition: color 0.2s linear;

        &:hover {
            color: $green-900;
        }

        &:active {
            color: $green-1000;
        }

        &:focus {
            outline-color: $green-200 ;
        }
    }

    &__main {
        padding: 12px;
        background-color: $silver-100;
        flex: 1 1 auto;
        overflow: auto;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 84px;
        grid-row-gap: 15px;

        @include r($sm) {
            grid-row-gap: 6px;
            grid-auto-rows: 135px;
        }
    }


    &__wrapper {
        padding: 21px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include r($sm) {
            padding: 15px;
        }
    }

    &__total {
        font-weight: 400;
        font-size: 24px;
        color: $black;

        @include r($sm) {
            font-size: 14px;
        }
    }

    &__sum {
        font-size: 24px;
        color: $content;

        @include r($sm) {
            font-size: 18px;
        }
        span {
            font-size: 18px;

            @include r($sm) {
                font-size: 14px;
            }
        }
    }
}

