.basket {
    position: fixed;
    right: -300%;
    top: 0;
    z-index: 100;
    max-width: 470px;
    width: 100%;
    height: 100vh;
    background-color: $white;
    display: flex;
    flex-direction: column;
    
    &--show {
        right: 0;
    }
    &__top {
        padding: 19px 26px 12px 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $silver-600;
    }

    &__title {
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 12px;
        color: #000
    }

    &__clean {
        font-weight: 400;
        font-size: 14px;
        color: #000;
        background-color: transparent;
        transition: color 0.2s linear;
        &:hover {
            color: $green-900;
        }

        &:active {
            color: #4D810C;
        }

        &:focus {
            outline-color: #E0EDCF ;
        }
    }

    &__main {
        padding: 12px;
        background-color: $silver-100;
        flex: 1 1 auto;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {

        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    &__card {
        padding: 12px;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        border: 1px solid $silver-600;
        border-radius: 6px;
    }

    &__img {
        object-fit: contain;
        margin-right: 30px;
    }

    &__subtitle {
        font-size: 14px;
        max-width: 165px;
        @include hidden(2)
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__price {
        font-size: 20px;
        color: $content;
        span {
            font-size: 14px;
        }
    }

    &__counter {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        
    }

    &__product {
        display: flex;
    }

    &__box {
        
        display: flex;  
    }

    &__filter {
        height: 24px;
        display: flex;
        margin-right: 12px;
    }

    &__btn {
        padding:  4px;
        background-color: $green-900;
        
        &:hover {
            background-color: #4D810C;
        }

        &:focus {
            box-shadow: 0px 0px 0px 4px #E0EDCF;
        }

        &:active {
            color: rgb($white, 50%);
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    &__btn-icon {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    &__num {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        line-height: 1;
        background-color: $green-200;

    }


    &__totalsum {

        display: block;
        font-size: 20px;
        color: $content;
        span {
            font-size: 14px;
        }
    }

    &__wrapper {
        padding: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__total {
        font-weight: 400;
        font-size: 24px;
        color: #000;
    }

    &__sum {
        font-size: 24px;
        color: $content;
        span {
            font-size: 18px;
        }
    }
}

