.btn {
    background-color: $white;
    padding: 12px 24px;
    font-family: $f-lato;
    font-weight: 400;
    color: $green-900; 
    font-size: 18px;
    letter-spacing: 0.03rem;
    border-radius: 6px;
    line-height: 1.3;
    max-width: 300px;
    width: fit-content;
    white-space: nowrap;
    transition: background-color 0.3s ease, fill 0.2s, border-color 0.3s, color 0.2s;
    
    &:focus {
        outline: 0;
    }

    &--transparent {
        display: block;
        border: 1px solid #B1D286;
        margin: 0 auto;
        
        &:hover {
            background-color: $green-100;
            border-color:$green-900 ;
        }

        &:focus {
            box-shadow: 0px 0px 0px 4px #B1D286;
        }

        &:active {
            color: rgb($green-900, 50%);
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }   
    }

    &--catalog {
        font-weight: 600;
        font-size: 14px;
        color: $green-900;
        border-radius: 6px;
        padding: 16px 45px 16px 60px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 20px;
            bottom: 15px;
            width: 27px;
            height: 17px;
            background-image: url(../images/icons/nav.svg);
            background-repeat: no-repeat;
        }

        &::after {
            content: "";
            position: absolute;
            right: 20px;
            bottom: 22px;
            width: 8px;
            height: 4px;
            background-image: url(../images/icons/chevron-nav.svg);
            transition: transform 0.2s linear;
        }

        &:hover {
            background-color: $green-200;
            
            &::after {
                transform: rotate(180deg);
            }
        }
    
        &:active {
            color: rgb($green-900, 50%);
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        &:focus {
            box-shadow: 0px 0px 0px 4px #E0EDCF;
        }
    }

    &--dark {
        background-color: $dark-800;
        color: $white;
        font-weight: 600;
        font-size: 14px;
        padding: 16px 52px;
        text-transform: uppercase;
        border-radius: 0 6px 6px 0;
        // overflow: hidden;

        &:hover {
            background-color: rgb($dark-800, 85%);
        }
        
        &:focus {
            box-shadow: 0px 0px 0px 4px #E0EDCF;
        }

        &:active {
            background-color: $dark-800;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            color: $silver-600;
        }
    }

    &--subscribe {
        font-size: 12px;
        font-weight: 700;
        color: $white;
        text-transform: uppercase;
        border-radius: 0 6px 6px 0;
        background-color: $green-900;
        padding: 12px 10px;
        transition: background-color 0.3s linear, color 0.2s linear;

        &:hover {
            background-color: #4D810C;
        }

        &:active {
            color: rgb($white, 50%);
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        &:focus {
            box-shadow: 0px 0px 0px 4px #E0EDCF;
        }
    }

    &--green {
        background-color: $green-900;
        border-radius: 6px;
        color: $white;
        font-size: 18px;
        letter-spacing: 0.05rem;

        &:hover {
            background-color: #4D810C;
        }
        
        &:focus {
            box-shadow: 0px 0px 0px 4px #E0EDCF;
        }

        &:active {
            color: rgb($white, 50%);
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        &-promo {
            display: block;
            margin: 0 auto;
        }
    }

    &--favorit {
        padding: 0;
        font-size: 0;
        fill: $silver-600;
        transition: fill 0.2s linear;

        &:hover {
            fill: $yellow;
        }
    }

    &--green-sm {
        padding: 8px;
        background-color: $green-900;
        border-radius: 6px;
        fill: $white;
        line-height: 1;
        &:hover { 
            background-color: #4D810C;
        }

        &:focus {
            box-shadow: 0px 0px 0px 4px #E0EDCF;
        }

        &:active {
            fill: rgb($white, 50%);
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    &--green-large {
        max-width: 470px;
        width: 100%;
        background-color: $green-900;
        color: $white;
        border-radius: 0;
        padding: 22px 20px;

        &:hover {
            background-color: #4D810C;
        }

         
        &:focus {
            box-shadow: 0px 0px 0px 4px #E0EDCF;
        }

        &:active {
            color: rgb($white, 50%);
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
}

.btn-close {
    background-color: transparent;
    padding: 10px;
    display: flex;
    border-radius: 6px;
    justify-content: center;
    text-align: center;
    transition: background-color 0.2s linear;

    &:hover {
        background-color: $green-200;
    }

    &:active {
        background-color: $green-900;
    }

    &:focus {
        outline-color: #E0EDCF ;
    }

    &--sm {
        padding: 3px;
        border-radius: 2px;
    }
}

.btn-close--sm {
    background-color: transparent;
    display: flex;
    padding: 3px;
    border-radius: 2px;
    justify-content: center;
    text-align: center;
    transition: background-color 0.2s linear;

    &:hover {
        background-color: $green-200;
    }

    &:active {
        background-color: $green-900;
    }

    &:focus {
        outline-color: #E0EDCF ;
    }

}