.product-card {
    height: 100%;

    &__link {
        display: flex;
        flex-direction: column;
        background-color: $white;
        border: 1px solid rgba(17, 17, 17, 0.2);
        border-radius: 6px;
        max-width: 300px;
        height: 100%;
        transition: border-color 0.3s linear;
        
        &:hover {
            border-color: $green-900;
        }
    } 

    &__top {
        display: flex;
        justify-content: space-between;
        padding: 12px 12px 7px;
    }

    &__badges {
        span:not(:last-child) {
            margin-bottom: 2px;
        }
    }

    &__body {
        padding: 0 12px;
    }

    &__img {
        width: 100%;
        height: 215px;
        object-fit: cover;
    }

    &__subtitle {
        line-height: 1.4;
        max-width: 290px;
        font-size: 14px;
        font-weight: 600;
        @include hidden(3);
        margin-bottom: auto;
        padding: 12px 18px 0;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 18px 17px;
    }

    &__cost {
        max-width: 100px;
        width: fit-content;
        display: block;
        color: $content;
        line-height: 1.2; 
        @include hidden(1); 
        
        &--old {
            color: $silver-600;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: 10px;
                left: 0;
                right: 0;
                height: 1px;
                background-color: $silver-600;
                transform: rotate(346deg);
            }
        }
    }

}

.promo-card {

    &__link {
        display: flex;
        border: 1px solid rgba(17, 17, 17, 0.2);
        border-radius: 6px;
        padding: 15px 12px 10px;
        max-width: 300px;
        transition: border-color 0.3s linear;
    }

    &:hover {
        border-color: $green-900;
    }


    &__img {
        object-fit: contain;
        margin-right: 12px;
    }

    &__content {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    &__title {
        font-weight: 600;
        font-size: 14px;
        margin-bottom: auto;
        @include hidden(3);
    }

    &__status {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 10px;
        line-height: 1;
        color: $green-900;
        margin-bottom: 4px;

        &--ends {
            color: $red;
        }

        &--not {
            color: $silver-600;
        }
    }

    &__price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 20px;
    }

    &__cost {
        display: block;
        font-size: 20px;
        font-weight: 600;
        line-height: 1;
        color: $content;
        max-width: 60px;
        @include hidden(1);

        span {
            font-size: 14px;
        }

        &--old {
            font-weight: 400;
            font-size: 12px;
            color: $silver-600;
            position: relative;
            @include hidden(1);
            &::after {
                content: "";
                position: absolute;
                bottom: 8px;
                left: 0;
                right: 0;
                height: 1px;
                background-color: $silver-600;
                transform: rotate(346deg);
            }  
        }
    }

    &__oldprice {
        font-weight: 400;
        font-size: 12px;
        color: $silver-600;
        position: relative;
        @include hidden(1);

        &::after {
            content: "";
            position: absolute;
            bottom: 8px;
            left: 0;
            right: 0;
            height: 1px;
            background-color: $silver-600;
            transform: rotate(346deg);
        }
    }

    &__rating {

        font-weight: 700;
        font-size: 14px;
        color: $content;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            bottom: 3px;
            right: -18px;
            background-image: url(../../images/icons/star.svg);
        }
    }

    &__badge {
        position: absolute;
    }
}
