.products-filters {
    display: flex;
    justify-content: center;
    margin-bottom: 49px;

    &__item {
        &:not(:last-child) {
            margin-right: 25px;
        }
    }

    &__button {
        max-width: 200px;
        font-family: $f-lato;
        font-size: 15px;
        color: $content;
        font-weight: 700;
        text-transform: uppercase;
        background-color: transparent; 
        border: none;
        @include hidden(1);
        line-height: 1.3;
        border-bottom: 3px solid transparent;
        padding: 0;
        transition: border-bottom 0.3s linear;
        &:hover {
            border-bottom: 3px solid rgb($green-900, 20%);
        }

        &:focus {
            outline-color: #E0EDCF;
        }
    }
    .mixitup-control-active {
        border-bottom: 3px solid rgb($green-900, 20%);
    }
}