.products-filters {
    display: flex;
    justify-content: center;
    margin-bottom: 49px;

    @include r($md) {
        flex-wrap: wrap;
        margin-bottom: 25px;
    }

    @include r($sm) {
        margin-bottom: 10px;
    }


    &__item {
        @include maxw(120px);
        
        &:not(:last-child) {
            margin-right: 25px;
            
        }

        @include r($md) {
            margin-bottom: 12px;
        }
        
    }

    &__button {
        font-family: $f-lato;
        font-size: 15px;
        color: $content;
        font-weight: 700;
        text-transform: uppercase;
        background-color: transparent; 
        border: none;
        @include maxw(200px);
        line-height: 1.3;
        border-bottom: 3px solid transparent;
        padding: 0;
        transition: border-color 0.3s linear;

        &:hover {
            border-color: rgba($green-900, 20%);
        }

        &:focus {
            outline-color: $green-200;
        }
    }

    .mixitup-control-active {
        border-color:  rgba($green-900, 20%);
    }
}