.products-filters {
    display: flex;
    justify-content: center;
    margin-bottom: 49px;

    &__item {
        &:not(:last-child) {
            margin-right: 25px;
        }
    }

    &__button {
        font-size: 15px;
        color: $content;
        font-weight: 700;
        text-transform: uppercase;
        background-color: transparent; 
        border: none;
        line-height: 1.3;
        border-bottom: 3px solid transparent;
        padding: 0;

        &:hover {
            border-bottom: 3px solid rgb($green-900, 20%);
        }
    }
}
.mixitup-control-active {
    border-bottom: 3px solid rgb($green-900, 20%);
}