.footer {
    background-color: $dark-800;
    color: $white;
    padding-top: 30px;

    &__logo {
        display: inline-block;
        margin-bottom: 22px;

        @include r($lg) {
            display: flex;
            justify-content: center;
        }

        &:focus {
            outline-color: $green-200;
        }
    }

    &__content {
        display: flex;
        padding-bottom: 30px;
        justify-content: space-between;
        position: relative;

        @include r($lg) {
            padding: 20px 0;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 -15px;
            border-top: 1px solid rgba($white, 0.1);
        }

        @include r($sm) {
            align-items: center;
            flex-direction: column-reverse;
            border-top: none;
            padding-top: 0;
        }
    }

    &__title {
        display: block;
        font-size: 14px;
        margin-bottom: 10px;
    }



    &__subscribe {
        margin-right: 60px;

        @include r($xl) {
            margin-right: 30px;
        }

        @include r($sm) {
            padding-top: 20px;
            margin: 0 auto;
        }
    }

    &__form {
        display: flex;
    }

    &__input {
        max-width: 182px;
        width: 100%;
        border: transparent;
        border-radius: 6px 0 0 6px;
        padding: 12px;

        &::placeholder {
            font-size: 14px;
            color: $dark-800;
        }

        &:focus {
            outline-color: $green-200;
        }
    }

    &__box {

        @include r($lg) {
            width: 100%;
            order: 2;
            border-top: 1px solid rgba($white, 0.1);
        }

        @include r($sm) {
            order: 0;
            border-bottom: 1px solid rgba($white, 0.1);
        }
    }

    &__list {
        column-count: 3;
        column-gap: 83px;
        max-width: 620px;

        @include r($xl) {
            column-gap: 20px;
        }

        @include r($lg) {
            margin: 0 auto;
            padding: 20px 0 20px 60px;
        }

        @include r($sm) {
            max-width: 300px;
            display: flex;
            justify-content: center;
            padding-left: 30px;
            padding-bottom: 0;
            flex-wrap: wrap;
        }
    }

    &__item {
        margin-bottom: 15px;

        &:nth-child(odd) {
            margin-right: 0;
            
            @include r($sm) {
                margin-right: 30px; 
            }
        }

        @include r($sm) {
            width: 40%;
        }
    }

    &__link {
        display: block;
        width: fit-content;
        font-weight: 400;
        font-size: 14px;
        transition: color 0.2s linear;
        border-bottom: 3px solid transparent;
        @include maxw(150px);

        &:hover {
            color: $silver-600;
        }

        &:focus {
            border-color: rgba($green-900, 50%);
            outline: 0;
        }
    }

    &__contact {

        @include r($lg) {
            padding-bottom: 24px;
        }
    }

    &__info {
        font-style: normal;
        margin-bottom: 12px;
        font-weight: 400;
        @include hidden(2);

        span {
            margin-right: 12px;

        }

        p:not(:last-child) {
            margin-bottom: 18px;
        }

        a {
            border-bottom: 3px solid transparent;
            max-width: 220px;
            margin: 0 auto;

            &:hover {
                color: $silver-600;
            }

            &:focus {
                border-color: rgba($green-900, 50%);
                outline: 0;
            }
        }
    }


    &__social {
        display: flex;
        align-items: center;
        padding-left: 10px;
    }

    &__social-item {

        &:not(:last-child) {
            margin-right: 16px;
        }

        &:focus {
            outline-color: $green-200;
        }
    }

    &__social-link {

        &:focus {
            outline-color: $green-200;
        }
    }

    &__icon {
        fill: $white;
        transition: fill 0.3s linear;

        &:hover {
            fill: $silver-600;
        }
    }

    &__bottom {
        border-top: 1px solid rgba($white, 0.1);
        padding: 17px 0;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include r($sm) {
            flex-direction: column-reverse;
        }
    }

    &__copy {
        text-transform: uppercase;
    }

    &__accept {
        display: flex;

        @include r($sm) {
            margin-bottom: 10px;
        }
    }

    &__accept-item {
        &:first-child {
            margin-right: 20px;
        }
    }

    &__accept-icon {
        fill: $white;
    }
}