.footer {
    background-color: $dark-800;
    color: $white;
    padding-top: 30px;

    &__logo {
        display: inline-block;
        margin-bottom: 22px;

        &:focus {
            outline-color: #E0EDCF;
        }
    }

    &__content {
        display: flex;
        padding-bottom: 30px;
        justify-content: space-between;
        position: relative;
    }

    &__title {
        display: block;
        font-size: 14px;
        margin-bottom: 10px;
    }

    &__form {
        display: flex;
    }

    &__subscribe {
        margin-right: 150px;
    }
    &__input {
        max-width: 182px;
        width: 100%;
        border: transparent;
        border-radius: 6px 0 0 6px;
        padding: 12px;

        &::placeholder {
            font-size: 14px; 
            color: $dark-800; 
        }

        &:focus {
            outline-color: #E0EDCF;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        max-width: 620px;
        
    }

    &__item {
        max-width: 150px;
        width: 33.3333%;
        &:not(:nth-child(3n+3)) {
            margin-right: 57px;
        }
    }

    &__link {
        font-weight: 400;
        font-size: 14px;
        transition: color 0.2s linear;
        border-bottom: 3px solid transparent;
              
        &:hover {
            color: $silver-600;
        }

        &:focus {
            border-bottom: 3px solid rgb($green-900, 50%);
            outline: 0;
        }
    }

    &__info {
        font-style: normal;
        margin-bottom: 12px;
        font-weight: 400;

        span {
            margin-right: 12px;
        }

        p:not(:last-child) {
            margin-bottom: 18px;
        }

        a {
            border-bottom: 3px solid transparent;
            
            &:hover {
                color: $silver-600;
            }

            &:focus {
                border-bottom: 3px solid rgb($green-900, 50%);
                outline: 0;
            }
        }
    }

    &__info-link {
        border-bottom: 3px solid transparent;

        &:hover {
            color: $silver-600;
        }

        &:focus {
            border-bottom: 3px solid rgb($green-900, 50%);
            outline: 0;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        padding-left: 10px;
    }

    &__social-item {

        &:not(:last-child) {
            margin-right: 16px;
        }
        
        &:focus {
            outline-color: #E0EDCF;
        }  
    }

    &__social-link {

        &:focus {
            outline-color: #E0EDCF;
        }
    }

    &__icon {
        fill: $white;
        transition: fill 0.3s linear;

        &:hover {
            fill: $silver-600; 
        }
    }

    &__bottom {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding: 17px 0;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__copy {
        text-transform: uppercase; 
    }

    &__accept {
        display: flex;
    }

    &__accept-item {
        &:first-child {
            margin-right: 20px;
        }
    }

    &__accept-icon {
        fill: $white;
    }
}