.footer {
    background-color: $dark-800;
    color: $white;
    padding-top: 30px;
    
    @include r($sm) {
        padding-top: 24px;
    }

    &__logo {
        display: inline-block;
        margin-bottom: 22px;

        @include r($md) {
            display: flex;
            justify-content: center;
        }

        &:focus {
            outline-color: #E0EDCF;
        }
    }

    &__content {
        display: flex;
        padding-bottom: 30px;
        justify-content: space-between;
        position: relative;
        margin: 0 -15px;

        @include r($lg) {
            flex-wrap: wrap;
        }

        @include r($md) {
            align-items: center;
            flex-direction: column-reverse;
        }

        @include r($sm) {
            padding-bottom: 20px;
        }
     }

    &__title {
        display: block;
        font-size: 14px;
        margin-bottom: 10px;
    }

    &__form {
        display: flex;
    }

    &__subscribe {
        margin-right: 60px;

        @include r($xl) {
            margin-right: 30px;
        }

        @include r($md) {
            padding-top: 20px;
            margin-right: 0;
        }
    }

    &__input {
        max-width: 182px;
        width: 100%;
        border: transparent;
        border-radius: 6px 0 0 6px;
        padding: 12px;

        &::placeholder {
            font-size: 14px; 
            color: $dark-800; 
        }

        &:focus {
            outline-color: #E0EDCF;
        }
    }

    &__box {
        @include r($md) {
            width: 100%;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
    }

    &__list {
        column-count: 3;
        column-gap: 83px;
        max-width: 620px;

        @include r($xl) {
            column-gap: 20px;
        }

        @include r($md) {
            max-width: 350px;
            margin: 0 auto;
            padding: 20px 0 20px;
        }

        @include r($sm) {
            column-count: 2;
            padding: 20px 0 5px 50px;
        }
    }

    &__item {
        margin-bottom: 15px;
    }

    &__link {
        display: block;
        width: fit-content;
        font-weight: 400;
        font-size: 14px;
        transition: color 0.2s linear;
        border-bottom: 3px solid transparent;
        @include maxw(150px);
              
        &:hover { 
            color: $silver-600;
        }

        &:focus {
            border-bottom: 3px solid rgb($green-900, 50%);
            outline: 0;
        }
    }

    &__contact {
       
        @include r($md) {
            width: 100%;
            text-align: center;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
    }

    &__info {
        font-style: normal;
        margin-bottom: 12px;
        font-weight: 400;

        span {
            margin-right: 12px;

        }

        p:not(:last-child) {
            margin-bottom: 18px;
        }

        a {
            border-bottom: 3px solid transparent;

            &:hover {
                color: $silver-600;
            }

            &:focus {
                border-bottom: 3px solid rgb($green-900, 50%);
                outline: 0;
            }
        }
    }

    &__info-link {
        border-bottom: 3px solid transparent;
        max-width: 220px;
        @include hidden(2);

        &:hover {
            color: $silver-600;
        }

        &:focus {
            border-bottom: 3px solid rgb($green-900, 50%);
            outline: 0;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        padding-left: 10px;

        @include r($md) {
            justify-content: center;
        }
    }

    &__social-item {

        &:not(:last-child) {
            margin-right: 16px;
        }
        
        &:focus {
            outline-color: #E0EDCF;
        }  
    }

    &__social-link {

        &:focus {
            outline-color: #E0EDCF;
        }
    }

    &__icon {
        fill: $white;
        transition: fill 0.3s linear;

        &:hover {
            fill: $silver-600; 
        }
    }

    &__bottom {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding: 17px 0;

        @include r($sm) {
            padding: 28px 0 20px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include r($sm) {
            flex-direction: column-reverse;
        }
    }

    &__copy {
        text-transform: uppercase; 
    }

    &__accept {
        display: flex;
    }

    &__accept-item {
        &:first-child {
            margin-right: 20px;

            @include r($sm) {
                margin-bottom: 20px;
            }
        }
    }

    &__accept-icon {
        fill: $white;
    }
}