.header {
    letter-spacing: 0.03rem;

    &__top {
        background-color: $dark-800;
        padding: 15px 0;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__item:not(:last-child) {
        margin-right: 40px ;
    }

    &__item-info:not(:last-child) {
        margin-right: 25px;
    }

    &__icon {
        width: 32px;
        height: 22px;
        margin-right: 10px;
        fill: $white;
        transition: fill 0.2s linear;
    }

    &__btn-catalog {
        margin-right: 30px;
    }

    &__link {
        max-width: 300px;
        display: flex;
        line-height: 1.5;
        color: $white;
        font-size: 13px;
        text-transform: uppercase;
        transition: color 0.2s linear; 

        &:hover {
            color: $silver-600;

            .header__icon {
                fill: $silver-600; 
            }
        }

        &:focus {
            outline-color: #E0EDCF;
        }
    }

    &__bottom {
        background-color: $green-900;
        padding: 20px 0;
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 24px;

        &:focus {
            outline-color: #E0EDCF;
        }
    }

    &__search {
        display: flex;
        align-items: center;
        background-color: $white;
        max-width: 420px;
        width: 100%;
        border-radius: 6px 0 0 6px;
        padding-left: 50px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 12px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background-image: url(../../images/icons/search.svg);
            background-repeat: no-repeat;
        }
    }

    &__icon-search {
        margin-right: 18px;
    }

    &__input {
        border: transparent;
        width: 100%;
        padding: 15px 0;

        &::placeholder {
            font-size: 14px;
            color: $dark-800;
        }

        &:focus {
            outline-color: #E0EDCF;
        }
    }

    &__btn-search {
        margin-right: 35px;
    }

    &__user {
        display: flex
    }

    &__user-icon {
        fill: $white;
    }

    &__user-link {

        &:focus {
            outline-color: #E0EDCF;
        }
    }

    &__user-item {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 3px;
        transition: background-color 0.2s linear;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }  

        &:focus {
            outline-color: #E0EDCF;
        }
    }

    &__user-item:not(:last-child) {
        margin-right: 10px;
    }

    &__num {
        position: absolute;
        top: 0;
        left: 4px;
        width: 18px;
        height: 18px;
        background-color: $white; 
        border-radius: 50%;
        font-size: 10px;
        line-height: 1.9;
        color: $red;
        text-align: center;
    }
}