.header {
    letter-spacing: 0.03rem;

    &__top {
        background-color: $dark-800;
        padding: 15px 0;

        @include r($md) {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 999;
            padding: 2px 0;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        align-items: center;

        &--right {

            @include r($md) {
                display: none;
            }

            li:not(:last-child) {
                margin-right: 25px;
            }
        }
    }

    &__item:not(:last-child) {
        margin-right: 40px;

        @include r ($lg) {
            margin-right: 29px;
        }
    }

    &__icon {
        width: 32px;
        height: 22px;
        margin-right: 10px;
        fill: $white;
        transition: fill 0.2s linear;

        @include r($sm) {
            margin-right: -3px;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        @include r($lg) {
            justify-content: flex-start;
        }

    }

    &__catalog {
        position: relative;
        margin-right: 30px;

        @include r($md) {
            margin-right: 0;
        }

        &:hover {
            .header__catalog-btn {
                background-color: $green-200;
            }
        }
    }

    &__catalog-list {
        display: none;
        position: absolute;
        top: 44px;
        right: 0;
        left: 0;
        overflow: hidden;
    }

    &__catalog-item {
        background-color: $white;
        border-bottom: 1px solid $silver-600;
    }

    &__catalog-link {
        display: block;
        font-weight: 400;
        font-size: 16px;
        padding: 15px 10px 15px 24px;
        position: relative;
        transition: color .2s linear;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 3px;
            height: 100%;
            background-color: transparent;
            transition: background-color .2s linear;
        }

        &:hover {
            color: $green-900;

            &::before {
                background-color: $green-900;
            }
        }

        &:focus {
            outline-color: $green-200;
        }
    }

    &__link {
        display: flex;
        line-height: 1.5;
        color: $white;
        font-size: 13px;
        text-transform: uppercase;
        transition: color 0.2s linear;

        span {
            @include maxw(200px);

            @include r($sm) {
                display: none;
            }
        }

        a {
            @include maxw(120px);
        }

        &:hover {
            color: $silver-600;

            .header__icon {
                fill: $silver-600;
            }
        }

        &:focus {
            outline-color: $green-200;
        }
    }

    &__bottom {
        position: fixed;
        z-index: 99;
        top: 52px;
        right: 0;
        left: 0;
        line-height: 1;
        background-color: $green-900;
        padding: 23px 0;
        transition: top 0.2s ease;

        @include r($md) {
            padding: 10px 0;
            top: 47px;
        }

        @include r($sm) {
            padding: 11px 0 7px
        }

        &--scroll {
            top: 0;
            padding: 11px 0;

            @include r($md) {
                top: 47px;
            }
        }
    }

    &__logo {
        margin-right: 24px;
        max-height: 60px;
        max-width: 200px;
        width: 100%;

        @include r($sm) {
            width: 37px;
            height: 40px;
            margin-right: 27px;
        }

        @include r($xsm) {
            margin-right: 5px;
        }

        &:focus {
            outline-color: $green-200;
        }
    }

    &__search {
        display: flex;
        align-items: center;
        max-width: 577px;
        width: 100%;
        position: relative;
        margin-right: 35px;
        transition: transform 0.3s linear;

        @include r($xl) {
            margin-right: 15px;
        }

        @include r($lg) {
            transform: translateX(300%);
            margin-right: 0;
            position: fixed;
            top: 157px;
            right: 0;
        }

        @include r($md) {
            top: 127px;
            max-width: 100vw;
            left: 0;
            right: 0;
        }

        @include r($sm) {
            top: 111px;  
        }


        &--showw {

            @include r($lg) {
                transform: translateX(0);
            }
        }
    }

    &__icon-search {
        margin-right: 18px;
    }

    &__input-label {

        &::before {
            content: "";
            position: absolute;
            left: 12px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background-image: url(../images/content/icons/search.svg);
            background-repeat: no-repeat;

            @include r($sm) {
                left: 6px;
            }
        }
    }

    &__input {
        border: none;
        flex: 1 1 auto;
        line-height: 1;
        padding: 17px 10px 15px 50px;
        border-radius: 6px 0 0 6px;

        @include r($md) {
            border-radius: 0;
        }

        @include r ($sm) {
            padding: 14px 10px 14px 40px;
        }

        &::placeholder {
            font-size: 14px;
            color: $dark-800;
        }

        &:focus {
            outline-color: $green-200;
        }
    }

    &__user {
        display: flex;

        @include r($lg) {
            margin-left: auto;
        }
    }

    &__user-icon {
        pointer-events: none;
        fill: $white;
    }


    &__user-link,
    &__user-btn {
        background-color: transparent;
        &:focus {
            outline-color: $green-200;
        }
    }

    &__user-item {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 50px;
        height: 50px;
        padding-top: 4px;
        border-radius: 3px;
        transition: background-color 0.2s linear;

        @include r($sm) {
            width: 44px;
            height: 44px;
        }

        svg {
            @include r($sm) {
                width: 24px;
                height: 24px;
            }
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

        &:focus {
            outline-color: $green-200;
        }
    }

    &__user-item--search {
        display: none;

        @include r($lg) {
            display: flex;
        }
    }

    &__user-item--user {

        @include r($md) {
            display: none;
        }
    }

    &__user-item--favorit {

        @include r($md) {
            display: none;
        }
    }

    &__user-item:not(:last-child) {
        margin-right: 11px;

        @include r($sm) {
            margin-right: 6px;
        }

        @include r($xsm) {
            margin-right: 0;
        }
    }

    &__num {
        position: absolute;
        top: 4px;
        left: 4px;
        width: 18px;
        height: 18px;
        background-color: $white;
        border-radius: 50%;
        font-size: 10px;
        line-height: 1.9;
        color: $red;
        text-align: center;

        @include r($sm) {
            top: 0;
            left: 0;
        }
    }
}