.menu-mob {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: $white;
    font-size: 18px;
    color: #31352B;
    line-height: 1.2;
    max-width: 300px;
    width: 100%;

    &--show {
        display: block;
    }
    &__header {
        padding: 25px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        max-width: 200px;
        width: 100%;

        &:focus {
            outline-color: #E0EDCF;
        }
    }

    &__register {
        padding-left: 20px;
        display: flex;
        align-items: center;
        background-color: $green-900;

    }

    &__icon-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }  
    }

    &__register-link {
        display: block;
        padding-left: 9px;
        line-height: 1.1;
        color: $white;
        font-size: 18px;
        font-weight: 400;

        &:not(:last-child) {
            padding-left: 0;
            padding-right: 9px;
            border-right: 1px solid $white;
        }
    }

    &__catalog {
        padding: 15px 0;
        border-bottom: 1px solid rgba($silver-600, 30%);
    }

    &__catalog-link {
        position: relative;
        padding-left: 70px;
        font-size: 18px;
        line-height: 1;
        color: #31352B;

        &::before {
            content: "";
            position: absolute;
            left: 30px;
            top: 0;
            width: 25px;
            height: 20px;
            background-image: url(../images/icons/nav-dark.svg);
        }
    }

    &__wrapper {
        padding: 24px 0;
        
    }
    
    &__contact {
        padding-top: 24px;
        font-style: normal;
        padding-left: 70px;
    }

    &__social {
        padding-bottom: 24px;
        display: flex;
        align-items: center;
        padding-left: 35px;
        border-bottom: 1px solid rgba($silver-600, 30%);
    }

    &__social-link {

        &:focus {
            outline-color: #E0EDCF;
        }
    }

    &__social-item {

        &:not(:last-child) {
            margin-right: 12px;
        }
        
        &:focus {
            outline-color: #E0EDCF;
        }  
    }

    &__icon {
        fill: #31352B;
        transition: fill 0.3s linear;

        &:hover {
            fill: $green-900; 
        }
    }



    &__contact-link {
        position: relative;
        margin-bottom: 18px;

        &::before {
            content: "";
            position: absolute;
            left: -40px;
            top: 0;
            width: 24px;
            height: 24px;
            background-image: url(../images/icons/icon-tel.svg);
            background-repeat: no-repeat;
        }

        &--address {
            &::before {
                width: 25px;
                height: 33px;
                background-image: url(../images/icons/mark.svg);
            }
        }
    }

    &__list {
        padding: 24px 15px 24px 30px;
    }

    &__item {

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__link {
        display: block;
    }
   
}





