.menu-mob {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    height: 100vh;
    background-color: $white;
    font-size: 18px;
    color: $dark-800;
    line-height: 1.2;
    max-width: 300px;
    width: 100%;
    overflow: auto;
    transform: translateX(-300%);
    transition: transform 0.2s linear;

    &--show {
        transform: translateX(0);
    }

    &__header {
        padding: 25px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        max-width: 200px;
        width: 100%;

        &:focus {
            outline-color: $green-200;
        }
    }

    &__register {
        display: flex;
        background-color: $green-900;
        
    }

    &__register-link {
        display: flex;
        align-items: center;
        line-height: 1;
        color: $white;
        font-size: 18px;
        font-weight: 400;
        position: relative;

        &:nth-child(1) {
            padding: 8px 12px 8px 30px;
            &::after {
                content: "";
                position: absolute;
                right: 0;
                top: 10;
                width: 1.5px;
                height: 15px;
                background-color: #fff;
            }
        }

        &:nth-child(2) {
            padding: 0 60px 0 8px;
        }
    }

    &__catalog-link {
        display: block;
        position: relative;
        padding: 15px 0 15px 70px;
        font-size: 18px;
        line-height: 1;
        color: $dark-800;
        border-bottom: 1px solid rgba($silver-600, 30%);

        &::before {
            content: "";
            position: absolute;
            left: 18px;
            top: 13px;
            width: 50px;
            height: 20px;
            background-image: url(../images/sprite.svg#nav-dark);
            background-repeat: no-repeat;
            
        }
    }

    &__wrapper {
        padding: 24px 0;
        
    }
    
    &__contact {
        padding-top: 24px;
        font-style: normal;
        padding-left: 70px;
    }

    &__contact-link {
        display: block;
        position: relative;
        margin-bottom: 18px;

        &::before {
            content: "";
            position: absolute;
            left: -56px;
            top: 0;
            width: 54px;
            height: 24px;
            background-image: url(../images/sprite.svg#icon-tel);
            background-repeat: no-repeat;
        }

        &--address {
            &::before {
                width: 82px;
                height: 31px;
                left: -69px;
                top: 5px;
                background-image: url(../images/sprite.svg#mark);
            }
        }
    }

    &__social {
        padding-bottom: 24px;
        display: flex;
        align-items: center;
        margin-left: -35px;
        border-bottom: 1px solid rgba($silver-600, 30%);
    }

    &__social-link {

        &:focus {
            outline-color: $green-200;
        }
    }

    &__social-item {

        &:not(:last-child) {
            margin-right: 12px;
        }
        
        &:focus {
            outline-color: $green-200;
        }  
    }

    &__icon {
        fill: $dark-800;
        transition: fill 0.3s linear;

        &--user {
            fill: $white;
            margin-right: 15px;
        }

        &:hover {
            fill: $green-900; 
        }
    }


    &__list {
        padding: 24px 15px 24px 30px;
    }

    &__item {

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__link {
        display: block;
    }
   
}





