.news {
    height: 100%;

    &__link {
        height: 100%;
        transition: color 0.2s linear;

        &:hover {
            color: $green-900;
        }

        &:focus {
            outline-color: #E0EDCF;
        }
    }

    &__data {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.03rem;
        background-color: $white;
        color: $dark-900;
        min-width: 65px;
        width: fit-content;
        padding: 20px 6px 0;
        border-radius: 0 0 6px 6px;
        position: absolute;
        top: 0;
        left: 20px;

        span {
            @include maxw(100px);
        }
    }

    &__month {
        display: block;
        font-weight: 700;
        font-size: 10px;
    }

    &__img {
        object-fit: cover;
        margin-bottom: 10px;
    }

    &__subtitle {
        font-size: 17px;
        font-weight: 600;
        padding: 0 18px 14px;
        @include hidden(4); 

        @include r($md) {
            font-size: 14px;
        }
    }

    &__num {
        font-family: $f-signika;
        font-weight: 600;
        font-size: 30px;
    }
}
