.pagination {
    display: flex;

    &__list {
        display: flex;
       
    }
    
    &__item {
        &:not(:last-child) {
            margin-right: 6px;
        }
       

        &:nth-child(2),
        &:nth-child(4) {
            @include r($md) {
                display: none;
            }
        }
    }
    
    &__link {
        display: block;
        width: 48px;
        height: 48px;
        background-color: $silver-100;
        color: $content;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        outline: transparent;
        border: 1px solid $silver-100;
        transition: border-color 0.2s linear;

        &--active {
            border-color: $content;
        }

        &:hover {
            border-color: $silver-600;
        }

        &:focus {
            box-shadow: 0px 0px 0px 4px $green-400;
        }
    }

    &__link--prev {
        margin-right: 6px;
        
        &:hover {
            border-color: $silver-100
        }
        .pagination__icon {
            fill: $silver-600
        }
    }
    
    &__link--next {
        margin-left: 6px;
    }

    &__icon {
        width: 11px;
        height: 18px;
        fill: $content
    }
}
