.product-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $white;
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 6px;
    transition: border-color 0.3s linear;

    &:hover {
        border-color: $green-900;
    }
    
    &.product-card--list {
        flex-direction: row;
        justify-content: space-between;
        max-width: 470px;
        position: relative;

        .product-card__top {
            position: absolute;
            width: 100%;
        }
        
        .product-card__body {
            padding: 0;
            flex: 1 0 auto;
        }

        .product-card__img {
            width: 200px;
            height: 155px; 
        }
        .product-card__wrapper {
            display: flex;
            flex-direction: column;
            max-width: 230px;
            width: 100%;
            height: 160px;
            flex: 0 1 auto;
            padding: 12px 12px 12px 0;
        }

        .product-card__box {
            width: 100%;
            margin-bottom: 0;
            padding: 0;
        }

        .product-card__subtitle {
            position: relative;
            z-index: 2;
            padding: 0;
            max-width: 160px;
        }

        .product-card__inner {
            padding: 0;
        }

        .btn--favourite {
            position: absolute;
            right: 12px;
            top:62px;
        }
        
    }
    &__top {
        display: flex;
        justify-content: space-between;
        padding: 10px 12px 7px;
    }

    &__favourite {
        fill: $silver-600;
        transition: fill 0.2s linear;
        
        &:hover {
            fill: $yellow;
        }
    }

    &__badges {
        span:not(:last-child) {
            margin-bottom: 2px;
        }
    }

    &__body {
        padding: 0 12px;
    }

    &__img {
        width: 100%;
        height: 215px;
        object-fit: contain;

        @include r($md) {
            max-height: 215px;
            height: 100%;
        }
        @include r($sm) {
            width: 170px; 
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
  
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 18px;
        margin-bottom: -19px;
    }

    &__status {
        text-transform: uppercase;
        font-size: 10px;
        color: $green-900;

        &--ends {
            color: $red;   
        }

        &--not {
            color: $silver-600;
        }

        @include r($sm) {
            font-size: 8px;
        }
    }

    &__rait {
        display: flex;

        span {
            font-weight: 700;
            color: $content;
            margin-right: 4px;
        }
    }

    &__star {
        fill: #FFB800;
    }

    &__subtitle {
        max-width: 290px;
        @include hidden(3);
        margin-bottom: auto;
        padding: 19px 18px 0;
        transition: color 0.2s linear;

        &:hover {
            color: $green-900;
        }

        &:focus {
            outline-color: $green-200;
        }
    }

    &__title {
        line-height: 1.4;
        font-size: 14px;
        font-weight: 600;
        
        @include r($sm) {
            margin-bottom: 50px;
        }   
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 18px 20px;
    }

    &__cost {
        max-width: 100px;
        width: fit-content;
        display: block;
        color: $content;
        line-height: 1.2; 
        @include hidden(1); 
        
        &--old {
            color: $silver-600;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: 10px;
                left: 0;
                right: 0;
                height: 1px;
                background-color: $silver-600;
                transform: rotate(346deg);
            }
        }
    }
}