.product-card {
    height: 100%;

    display: flex;
    flex-direction: column;
    background-color: $white;
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 6px;
    max-width: 300px;
    transition: border-color 0.3s linear;
    
    &:hover {
        border-color: $green-900;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        padding: 10px 12px 7px;
    }

    &__favorit {
        
        &:hover {
            fill: $yellow;
        }
    }

    &__badges {
        span:not(:last-child) {
            margin-bottom: 2px;
        }
    }

    &__body {
        padding: 0 12px;
    }

    &__img {
        width: 100%;
        height: 215px;
        object-fit: contain;

        @include r($md) {
            max-height: 215px;
            height: 100%;
        }
    }

    &__subtitle {
        line-height: 1.4;
        max-width: 290px;
        font-size: 14px;
        font-weight: 600;
        @include hidden(3);
        margin-bottom: auto;
        padding: 19px 18px 0;
        transition: color 0.2s linear;

        &:hover {
            color: $green-900;
        }

        &:focus {
            outline-color: $green-200;
        }

        @include r($sm) {
            margin-bottom: 10px;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 18px 20px;
    }

    &__cost {
        max-width: 100px;
        width: fit-content;
        display: block;
        color: $content;
        line-height: 1.2; 
        @include hidden(1); 
        
        &--old {
            color: $silver-600;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: 10px;
                left: 0;
                right: 0;
                height: 1px;
                background-color: $silver-600;
                transform: rotate(346deg);
            }
        }
    }
}