<footer class="footer">
    <div class="container">
        <a class="logo footer__logo" href="#">
            <img class="logo__img" src="images/content/logo.svg" alt="Логотип" width="200" height="60">
        </a>
        <div class="footer__content">
            <div class="footer__subscribe">
                <span class="footer__title">Следите за нашими акциями</span>
                <form class="footer__form">
                    <label class="visually-hidden" for="email">Введите емейл</label>
                    <input class="footer__input" type="email" id="email" required placeholder="email@email.com" name="[subscribe]email">
                    <button class="btn btn--subscribe" type="submit">подписаться</button>
                </form>
            </div>
            <div class="footer__box">
                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__link" href="#">О нас</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">Контакты </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">Публичная оферта</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">Вакансии</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">Оплата и доставка</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">Акции</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">Отзывы</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">Новости</a>
                    </li>
                </ul>
            </div>
            <address class="footer__contact">
                <div class="footer__info">
                    <p>
                        <span>Горячая линия</span> <a href="tel:+790288365">+7 907 288 365</a>
                    </p>
                    <a class="footer__info-link" href="#">Санкт-Петербург, ул. Ленина, 1</a>
                </div>
                <ul class="footer__social">
                    <li class="footer__social-item">
                        <a class="footer__social-link" href="#">
                            <span class="visually-hidden">страница фейсбук</span>
                            <svg class="footer__icon" width="17" height="32">
                                <use xlink:href="images/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a class="footer__social-link" href="#">
                            <span class="visually-hidden">Ютуб канал</span>
                            <svg class="footer__icon" width="32" height="24">
                                <use xlink:href="images/sprite.svg#youtube"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a class="footer__social-link" href="#">
                            <span class="visually-hidden">телеграм канал</span>
                            <svg class="footer__icon"  width="32" height="28">
                                <use xlink:href="images/sprite.svg#telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a class="footer__social-link" href="#">
                            <span class="visually-hidden">инстаграм страница</span>
                            <svg class="footer__icon" width="32" height="32">
                                <use xlink:href="images/sprite.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </address>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__wrapper">
                <span class="footer__copy"> © 2021 Фрешок</span>
                <ul class="footer__accept">
                    <li class="footer__accept-item">
                        <span class="visually-hidden">способ опаты виза</span>
                        <svg class="footer__accept-icon" width="93" height="29">
                            <use xlink:href="images/sprite.svg#visa"></use>
                        </svg>
                    </li>
                    <li class="footer__accept-item">
                        <span class="visually-hidden">способ опаты мастеркард</span>
                        <svg class="footer__accept-icon" width="49" height="29">
                            <use xlink:href="images/sprite.svg#mc"></use>
                        </svg>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>