.advantages {
    background-color: #F6F6F6;;
    padding: 45px 0;

    &__list {
        max-width: 900px;
        margin: 0 auto;
        display: flex;
    }

    &__item {
        position: relative;
        padding-left: 73px;
        
        &:not(:last-child) {
            margin-right: 50px;
        }
        &::after {
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 50px;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &--scooter::after {
            background-image: url(../images/icons/scooter.svg);  
        }

        &--return::after {
            background-image: url(../images/icons/return-box.svg);
        }

        &--hours24::after {
            background-image: url(../images/icons/hours24.svg);
        }
    }

    &__content {
        max-width: 200px;
    }

    &__title {
        font-weight: 700;
        font-size: 16px;
        display: block;
        margin-bottom: 5px;
    }
}