.advantages {
    background-color: #F6F6F6;;
    padding: 45px 0;

    &__list {
        display: flex;
        justify-content: center;
    }

    &__item {
        position: relative;
        padding-left: 70px;
        max-width: 270px;
        width: 100%;

        &:not(:last-child) {
            margin-right: 53px;
        }
        
        &::after {
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 50px;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &--scooter::after {
            background-image: url(../images/icons/scooter.svg);  
        }

        &--return::after {
            background-image: url(../images/icons/return-box.svg);
        }

        &--hours24::after {
            background-image: url(../images/icons/hours24.svg);
        }
    }

    &__content {
        font-weight: 400;
        max-width: 320px;
        @include hidden(4);
    }

    &__title {
        font-weight: 700;
        font-size: 16px;
        display: block;
        margin-bottom: 5px;
        @include hidden;
    }
}