.banners {
    background-color: $white;

    &__list {
        display: flex;

        @include r($md) {
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    &__item {
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: cover;
        border-radius: 6px;
        padding: 68px 0 76px 32px;
        width: 52%;

        @include r($xl) {
            padding: 68px 0 76px 20px;
        }

        @include r($lg) {
            width: 33%;
        }

        @include r($md) {
            width: 100%;
            padding: 76px 0 30px 14px;
            margin-bottom: 15px;
        }

        @include r($sm) {
            padding: 76px 0 25px 14px;
        }

        &:not(:last-child) {
            margin-right: 30px;

            @include r($xl) {
                margin-right: 15px;
            }

            @include r($md) {
                margin-right: 0;
            }

            @include r($sm) {
                margin-bottom: 15px;
            }

        }

        &--sm {
            width: 25%;

            @include r($xl) {
                width: 33%;
                margin-bottom: 0;
            }

            @include r($md) {
                width: calc((100% - 15px) / 2);
            }


            @include r($sm) {
                width: 100%;
            }

            article {
                max-width: 200px;
                color: $content;
            }

            a {
                border-color: $content;
            }
        } 
    } 
}
