.brands {
    background-color: $white;

    &__link {
        display: flex;
        justify-content: center;
        position: relative;
        
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 1;
            background-color: rgb($white, 50%);
            transition: opacity 0.3s linear;
        }

        &:hover::after{
            opacity: 0;
        }

        &:focus {
            outline-color: $green-200;
        }
    }

    &__img {
        object-fit: contain;
    }

}

