.brands {
    background-color: #fff;
    padding-top: 72px;

    @include r($sm) {
        padding-top: 50px;
    }

    &__link {
        display: flex;
        justify-content: center;
        position: relative;
        
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 1;
            background-color: rgb($white, 50%);
            transition: opacity 0.3s linear;
        }

        &:hover::after{
            opacity: 0;
        }

        &:focus {
            outline-color: #E0EDCF;
        }
    }

    &__img {
        object-fit: contain;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        li {
            &:not(:last-child) {
                margin-right: 20px;
            }
            
            button {
                padding: 0;
                font-size: 0;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                background-color: $green-200;

                
            }

            &.slick-active {

                button {
                    
                    background-color: $green-900;
                }
            }
        }
    }
}

