.promo-card {
    background-color: $white;

    @include r($xl) {
        width: 300px;
    }

    @include r($md) {
        width: 280px;
    }

    @include r($sm) {
        width: 295px;
        margin: 0 auto;
    }

    &__link {
        display: flex;
        border: 1px solid rgba(17, 17, 17, 0.2);
        border-radius: 6px;
        padding: 10px 12px 10px;
        max-width: 300px;
        transition: border-color 0.3s linear;

        @include r($sm) {
            margin: 0 auto;
        }
    }

    &:hover {
        border-color: $green-900;
    }

    &__img {
        object-fit: contain;
        margin-right: 12px;
    }

    &__content {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    &__title {
        font-weight: 600;
        font-size: 14px;
        margin-bottom: auto;
        @include hidden(3);
    }

    &__status {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 10px;
        line-height: 1;
        color: $green-900;
        margin-bottom: 4px;
        @include maxw(150px);
        
        &--ends {
            color: $red;
        }

        &--not {
            color: $silver-600;
        }
    }

    &__price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 20px;
    }

    &__cost {
        display: block;
        font-size: 20px;
        font-weight: 600;
        line-height: 1;
        color: $content;
        max-width: 60px;
        @include hidden(1);

        span {
            font-size: 14px;
        }

        &--old {
            font-weight: 400;
            font-size: 12px;
            color: $silver-600;
            position: relative;
            @include hidden(1);
            &::after {
                content: "";
                position: absolute;
                bottom: 8px;
                left: 0;
                right: 0;
                height: 1px;
                background-color: $silver-600;
                transform: rotate(346deg);
            }  
        }
    }

    &__oldprice {
        font-weight: 400;
        font-size: 12px;
        color: $silver-600;
        position: relative;
        @include hidden(1);

        &::after {
            content: "";
            position: absolute;
            bottom: 8px;
            left: 0;
            right: 0;
            height: 1px;
            background-color: $silver-600;
            transform: rotate(346deg);
        }
    }

    &__rating {

        font-weight: 700;
        font-size: 14px;
        color: $content;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            bottom: 3px;
            right: -18px;
            background-image: url(../../images/icons/star.svg);
        }
    }

    &__badge {
        position: absolute;
    }
}

.basket-card {
    padding: 6px 12px;
    display: flex;
    height: 100%;
    justify-content: space-between;
    background-color: $white;
    border: 1px solid $silver-600;
    border-radius: 6px;
    position: relative;

    @include r($sm) {
        padding: 12px 12px;

    }


    &__img {
        object-fit: contain;
        margin-right: 30px;

        @include r($sm) {
            margin-right: 15px;
        }
    }

    &__subtitle {
        font-size: 14px;
        max-width: 165px;
        margin-bottom: 5px;
        @include hidden(2)
        }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include r($sm) {
            justify-content: flex-start;
        }
    }

    &__price {
        font-size: 20px;
        color: $content;
        line-height: 1;

        span {
            font-size: 14px;
        }
    }

    &__counter {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__product {
        display: flex;
    }

    &__box {
        
        display: flex;  
    }

    &__filter {
        height: 24px;
        display: flex;
        margin-right: 12px;

        @include r($sm) {
            position: absolute;
            left: 12px;
            bottom: 14px;
        }
    }

    &__btn {
        padding:  4px;
        background-color: $green-900;
        
        &:hover {
            background-color: $green-1000;
        }

        &:focus {
            box-shadow: 0px 0px 0px 4px $green-200;
        }

        &:active {
            color: rgba($white, 50%);
            box-shadow: inset 0px 4px 4px rgba($black, 0.25);
        }
    }

    &__btn-icon {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    &__num {
        outline: none;
        border: none;
        text-align: center;
        width: 35px;
        line-height: 1;
        background-color: $green-200;
    }

    &__totalsum {
        display: block;
        font-size: 20px;
        color: $content;
        padding-right: 3px;

        span {
            font-size: 14px;
        }
    }
}

.banner-card {
    text-transform: uppercase;
    color: $white;
    max-width: 400px;

    &__tilte {
        font-weight: 700;
        font-size: 12px;
        margin-bottom: 18px;
        @include hidden(2);

        @include r($sm) {
            margin-bottom: 12px;
        }
    }
    
    &__text {
        font-weight: 700;
        font-size: 30px;
        line-height: 1.4;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
        @include hidden(4);

        @include r($md) {
            margin-bottom: 56px;
            font-size: 24px;
        }

        @include r($sm) {
            margin-bottom: 74px;
        }
    }
    
    &__link {

        border-bottom: 2px solid $white;
        transition: color 0.3s, border-color 0.3s;
        margin-top: auto;
        @include maxw(200px);

        &:hover {
            color: $green-900;
            border-color: $green-900;
        }
        
        &:focus {
            outline-color: $green-200;
        }
        
    }
}

.news-card {
    height: 100%;
    padding-bottom: 18px;

    &__link {
        height: 100%;
        transition: color 0.2s linear;

        &:hover {
            color: $green-900;
        }

        &:focus {
            outline-color: $green-200;
        }
    }

    &__data {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.03rem;
        background-color: $white;
        color: $dark-900;
        min-width: 65px;
        width: fit-content;
        padding: 20px 6px 0;
        border-radius: 0 0 6px 6px;
        position: absolute;
        top: 0;
        left: 20px;

        span {
            @include maxw(100px);
        }
    }

    &__month {
        display: block;
        font-weight: 700;
        font-size: 10px;
        line-height: 1;
    }

    &__img {
        object-fit: cover;
        margin-bottom: 10px;
    }

    &__subtitle {
        font-size: 17px;
        font-weight: 600;
        padding: 0 14px;
        @include hidden(4); 

        @include r($md) {
            font-size: 14px;
        }
    }

    &__num {
        font-family: $f-open-sans;
        font-weight: 600;
        font-size: 30px;
    }
}