.ournews {
    background-color: $white;
    padding: 64px 0 72px;

    @include r($md) {
        padding: 40px 0 45px;
    }

    @include r($sm) {
        padding: 18px 0 30px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        @include r($sm) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__title {
        @include r($sm) {
            margin-bottom: 10px;
        }
    }

    &__all {
        color: $green-900;
        font-size: 18px;
        padding-right: 6px;
        font-weight: 700;
        position: relative;
        transition: color 0.2s;

        @include r($sm) {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            height: 2px;
            width: 100%;
            background-color: $green-900;
            transition: background-color 0.2s linear;
        }

        &:hover {
            color: #4D800C;

            &::after {
                background-color:#4D800C;
            }
        }

        &:focus {
            outline-color: #E0EDCF;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin: 0 -15px;

        @include r($lg) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &__item {
        max-width: 410px;
        width: 33.33333%;
        margin: 0 15px;
        position: relative; 
        border-radius: 6px;
        overflow: hidden;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);

        &:not(:last-child) {

            @include r($lg) {
                margin-bottom: 15px;

            }
        }

        @include r($lg) {       
            width: 50%;
        }

        @include r($md) {
            width: 100%;
        }
    }

}
