.ournews {
    background-color: $white;
    padding: 60px 0 72px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    &__all {
        color: $green-900;
        font-size: 18px;
        padding-right: 6px;
        font-weight: 700;
        position: relative;
        transition: color 0.2s;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            height: 2px;
            width: 100%;
            background-color: $green-900;
            transition: background-color 0.2s linear;
        }

        &:hover {
            color: #4D800C;

            &::after {
                background-color:#4D800C;
            }
        }

        &:focus {
            outline-color: #E0EDCF;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin: 0 -15px;
    }

    &__item {
        max-width: 410px;
        width: 33.33333%;
        margin: 0 15px;
        position: relative; 
        border-radius: 6px;
        overflow: hidden;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    }

}
