.ournews {
    background-color: $white;
    padding-top: 0;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        @include r($sm) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__title {
        @include r($sm) {
            margin-bottom: 10px;
        }
    }

    &__all {
        color: $green-900;
        font-size: 18px;
        padding-right: 6px;
        font-weight: 700;
        position: relative;
        transition: color 0.2s;

        @include r($sm) {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            height: 2px;
            width: 100%;
            background-color: $green-900;
            transition: background-color 0.2s linear;
        }

        &:hover {
            color: $green-1000;

            &::after {
                background-color: $green-1000;
            }
        }

        &:focus {
            outline-color: $green-200;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin: 0 -15px;

        @include r($lg) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &__item {
        max-width: 410px;
        width: calc(100% / 3);
        margin: 0 15px;
        position: relative; 
        border-radius: 6px;
        overflow: hidden;
        box-shadow: 0px 3px 3px rgba($black, 0.25);

        &:not(:last-child) {

            @include r($lg) {
                margin-bottom: 15px;
            }
        }

        &:nth-child(3) {
            @include r($lg) {
                width: 100%;
            }
        }

        @include r($lg) {       
            width: 45%;
        }

        @include r($md) {
            width: 100%;
        }
    }
}
