.promo {
    background-color: #ffffff;
    text-align: center;
    padding: 72px 0;

    &__title {
        margin-bottom: 28px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 125px);
        grid-gap: 30px;
        margin-bottom: 48px;
    }

    &__item {
        text-align: left;
    }

    &__link {
        display: block;
    }
}




