.promo {
    background-color: $silver-100;

    &__title {
        margin-bottom: 32px;
        text-align: center;

        @include r($sm) {
            margin-bottom: 25px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 125px;
        grid-gap: 30px;
        margin-bottom: 45px;

        @include r($xl) {
            justify-items: stretch;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 25px;
        }

        @include r($lg) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            margin-bottom: 35px;
        }

        @include r($md) {
            grid-template-columns: 50% 50%;
            grid-gap: 10px;
            margin-bottom: 35px;
        }

        @include r($sm) {
            display: block;
            margin-bottom: 30px;
        }   
    }

    &__link {
        display: block;   
    }

    &__item {

        @include r($xl) {
            justify-self: center;
        }

        @include r($lg) {
            justify-self: start;
        }

        &:nth-child(odd) {

            @include r($lg) {
                justify-self: end;
            }
        }

        &:not(:last-child) {
           
            @include r($sm) {
                margin-bottom: 15px;
            }
        }
    }

}




