.promo {
    background-color: #ffffff;
    padding: 68px 0 72px;

    &__title {
        margin-bottom: 32px;
        text-align: center;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 125px;
        grid-gap: 30px;
        margin-bottom: 48px;
    }

    &__link {
        display: block;
    }
}




