
.slider-discont {
    padding-top: 102px;

    &__box {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
    }

    &__inner {
        display: flex;
        min-height: 550px;
        height: 56vh;
        align-items: center;

        @include r($lg) {
            min-height: 450px;
        }

        @include r($md) {
            min-height: 350px;
        }

        @include r($sm) {
            min-height: 300px;
        }
        
    }

    &__content {
        max-width: 900px;
        background-color: rgba($white, 80%);
        border-radius: 6px;
        padding: 35px 20px 28px;
        color: $content;
        margin-bottom: 31px; 
        line-height: 1.3; 
        position: relative;

        @include r($md) {
            max-width: 768px;
            border-radius: 0;
            margin: 0 -15px 30px -15px;

            padding: 30px 17px 12px;
            }
    }


    &__text {
        font-family: $f-signika;
        font-weight: 700;
        color: $content;
        font-size: 60px; 
        @include hidden;
        text-transform: uppercase;
        text-shadow: 0px 4px 0px $content;

        @include r($xl) {
            font-size: 48px;
        }

        @include r($md) {
            font-size: 36px;
            text-shadow: none;
        }
        
        @include r($sm) {
            font-size: 20px;
        }
        &:nth-child(2) {
            @include r($sm) {
                margin-bottom: 15px;
            }
        }

        &--red {
            color: $red;
            text-shadow: 0px 4px 0px $red; 

            @include r($xl) {
                font-size: 48px;
            }

            @include r($md) {
                font-size: 36px;
                text-shadow: none;
            }

            @include r($sm) {
                font-size: 20px;
            }

        }
    }

    &__subtext {
        font-family: $f-lato;
        font-weight: 400;
        @include hidden;
        font-size: 16px;
    }

    .slick-prev,
    .slick-next {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: rgba($white, 80%);
        width: 60px;
        height: 60px;
        border-radius: 6px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        z-index: 1;
        transform: translateY(-50%);
        transition: background-color 0.2s ease;

        &:hover  {
            background-color: $green-200;
        }

        &:focus {
            box-shadow: 0px 0px 0px 4px #B1D286;
            outline: 0;
        }

        &:active {
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        
    }

    .slick-prev {
        left: 60px;
    }

    .slick-next {
        right: 60px;
    }

    .slick-dots  {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;

        @include r($sm) {
            bottom: 8px;
        }

        li {
            
            &:not(:last-child) {
                margin-right: 12px;
            }

            button {
                border: 1px solid $silver-600;
                font-size: 0;
                width: 16px;
                height: 16px;
                border-radius: 50%;

                @include r($sm) {
                    width: 12px;
                    height: 12px;
                }

                &:focus {
                    outline-color: #E0EDCF;
                }
            }
        }

        li.slick-active {
            button {
                border: 1px solid $green-900;
                background-color: $green-900;
            }
        }
    }
}