
.slider-discont {


    &__item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
    }

    &__inner {
        display: flex;
        padding-top: 106px;
        min-height: 550px;
        height: 56vh;
        align-items: center;
    }

    &__content {
        max-width: 900px;
        background-color: rgba($white, 80%);
        border-radius: 6px;
        padding: 27px 20px 26px;
        color: $content;
        margin-bottom: 30px; 
        line-height: 1.3; 
        position: relative; 
    }


    &__text {
        font-family: $f-signika;
        font-weight: 700;
        color: $content;
        font-size: 60px; 
        @include hidden;
        text-transform: uppercase;
        text-shadow: 0px 4px 0px $content;

        &--red {
            color: $red;
            text-shadow: 0px 4px 0px $red; 
        }
    }

    &__subtext {
        font-family: $f-lato;
        font-weight: 400;
        @include hidden;
        font-size: 16px;
    }

    .slick-prev,
    .slick-next {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: rgba($white, 80%);
        width: 60px;
        height: 60px;
        border-radius: 6px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        z-index: 1;
        transform: translateY(-50%);
        transition: background-color 0.2s ease;

        &:hover  {
            background-color: $green-200;
        }

        &:focus {
            box-shadow: 0px 0px 0px 4px #B1D286;
            outline: 0;
        }

        &:active {
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        
    }

    .slick-prev {
        left: 60px;
    }

    .slick-next {
        right: 60px;
    }
}