.top-product {
    background-color: #ffffff;;
    padding-top: 75px;

    @include r($md) { 
        padding-top: 60px;
    }

    @include r($sm) { 
        padding-top: 46px;
    }
    
    &__title {
        margin-bottom: 33px;
        text-align: center;

        @include r($sm) {
            margin-bottom: 25px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 410px;
        grid-gap: 30px;
        margin-bottom: 45px;

        @include r($xl) {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 25px;
        }

        @include r($lg) {
            grid-gap: 20px;
            margin-bottom: 35px;
        }

        @include r($md) {
            justify-items: center;
            grid-template-columns: 50% 50%;
            grid-gap: 10px;
            margin-bottom: 35px;
        }

        @include r($sm) {
            
            grid-gap: 5px;
            grid-auto-rows: 310px;
            margin-bottom: 25px;
        }
    }

}