.top-product {
    background-color: $white;
    padding: 72px 0 4px;

    @include r($md) {
        padding-top: 60px;
    }

    @include r($sm) {
        padding-top: 46px;
    }

    &__title {
        margin-bottom: 33px;
        text-align: center;

        @include r($sm) {
            margin-bottom: 25px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 410px;
        grid-gap: 30px;
        margin-bottom: 45px;

        @include r($xl) {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 25px;
        }

        @include r($lg) {
            grid-gap: 20px;
            margin-bottom: 35px;
        }

        @include r($md) {
            grid-template-columns: 50% 50%;
            grid-gap: 10px;
            margin-bottom: 35px;
        }

        @include r($sm) {
            grid-gap: 5px;
            margin-bottom: 25px;
            grid-auto-rows: auto;
        }
    }

    &__item {
        max-width: 300px;

        &:nth-child(odd) {

            @include r($md) {
                justify-self: end;
            }

            @include r($sm) {
                justify-self: normal;
            }
        }
    }

}