.top-product {
    background-color: #ffffff;;
    padding: 70px 0;
    text-align: center;

    &__title {
        text-align: center;
        margin-bottom: 33px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 410px;
        grid-gap: 30px;
        margin-bottom: 50px;
    }
}