.top-product {
    background-color: #ffffff;;
    padding-top: 70px;
    
    &__title {
        margin-bottom: 33px;
        text-align: center;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 410px;
        grid-gap: 30px;
        margin-bottom: 45px;
    }

}