.top-product {
    background-color: #ffffff;;
    padding-top: 70px;
    text-align: center;

    &__title {
        margin-bottom: 33px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 410px);
        grid-gap: 30px;
        margin-bottom: 45px;
    }
}